<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context-4.0.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <bean id="user" class="domain.User" p:userId="1" p:userName="test" p:password="test"></bean>
    <bean id="car" class="domain.Car" p:name="JiLi" p:maxSpeed="210" init-method="init"
          destroy-method="myDestroy"></bean>

    <bean id="target" class="advice.NaiveWaiter"></bean>
    <bean id="forumTarget" class="advice.ForumService"></bean>
    <bean id="advice" class="advice.WaiterAdvice"></bean>
    <bean id="afterAdvice" class="advice.WaiterAfterAdvice"></bean>
    <bean id="interceptor" class="advice.WatierInterceptor"></bean>
    <bean id="wrong" class="advice.WaiterWrong"></bean>
    <bean id="transManager" class="advice.TransManager"></bean>


    <bean class="processor.CustomBeanPostProcessor"></bean>
    <bean class="processor.CustomInstantiationAwareBeanPostProcessor"></bean>

    <bean id="waiter" class="org.springframework.aop.framework.ProxyFactoryBean" p:interfaces="advice.Waiter"
          p:interceptorNames="advice,afterAdvice,interceptor,wrong" p:target-ref="target"></bean>

    <bean id="forum" class="org.springframework.aop.framework.ProxyFactoryBean"
          p:interceptorNames="transManager" p:target-ref="forumTarget" p:proxyTargetClass="true"></bean>
</beans>